/*
src/main/resources/templates/static/...
	http://localhost:8080/templates/style.css
*/
body {
  background:#eaeaea!important;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  font-size:13px !important;
}
